body {
  background-color: rgb(245, 236, 243);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 0, auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36;
  line-height: 1.5;
  color: black;
}
.form-container {
  padding: 30px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}
form {
  display: flex;
}
.instructions {
  padding: 16px;
  border-radius: 50px;
  border: 1px solid gray;
  width: 80%;
  font-size: 16px;
  color: rgb(52, 52, 52);
}
.submit-button {
  margin-left: 10px;
  border: none;
  background-color: blueviolet;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  padding: 14px 24px;
  width: 150px;
}
.hint {
  line-height: 1.5px;
  font-size: 12px;
  margin-top: 8px;
  opacity: 0.6;
}
a {
  color: blueviolet;
}
.haiku {
  font-size: 16px;
  background-color: white;
  border-left: 3px solid blueviolet;
  font-weight: normal;
  text-align: left;
  line-height: 1.5px;
  padding: 20px;
  box-shadow: 0px 4px 30 px 0px rgba(39, 33, 66, 0o3);
  height: auto;
}
.hidden {
  display: none;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
